@model StudyWeb.Models.Chapter

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header" style="background-color: aqua;">
        <div class="row">
            <strong class="text-uppercase">Xóa chương môn học</strong>
        </div>
    </div>
</div>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Chapter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chapterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chapterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects.subjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjects.subjectName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
