@model IEnumerable<StudyWeb.Models.Document>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contentDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.display)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subjects.subjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contentDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateUpload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.display)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subjects.subjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
